{
  "parser": "babel-eslint",
  "env": {
    "react-native/react-native": true
  },
  "settings": {
    "import/core-modules": ["react", "react-native"]
  },
  "extends": ["eslint-config-airbnb", "prettier"],
  "plugins": ["prettier", "react-native"],
  "rules": {
    "prettier/prettier": "error",
    "no-nested-ternary": 0,
    "no-underscore-dangle": 0,
    "react/require-default-props": 0,
    "react/destructuring-assignment": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/jsx-filename-extension": 0,
    "no-return-assign": 0,
    "react/sort-comp": 0
  }
}
